<div class="bg-white p-8 rounded-lg shadow-xl w-full max-w-md">
  <div class="text-center mb-6">
    <h1 class="text-blue-600 font-bold text-4xl mb-2">TaskMaster</h1>
    <p class="text-gray-600">Quản lý công việc hiệu quả</p>
  </div>

  <form (ngSubmit)="onRegister()" #registerForm="ngForm" class="space-y-4">
    <div>
      <label for="username" class="block text-gray-700 text-sm font-semibold mb-2">Tên người dùng</label>
      <input type="text" id="username" name="username" required [(ngModel)]="userData.username"
        class="w-full px-4 py-2 border rounded-lg focus:ring-blue-500 focus:border-blue-500"
        placeholder="Tên của bạn" />
    </div>
    <div>
      <label for="fullName" class="block text-gray-700 text-sm font-semibold mb-2">Họ và tên</label>
      <input type="text" id="fullName" name="fullName" required [(ngModel)]="userData.full_name"
        class="w-full px-4 py-2 border rounded-lg focus:ring-blue-500 focus:border-blue-500"
        placeholder="Họ và tên đầy đủ" />
    </div>
    <div>
      <label for="email" class="block text-gray2-700 text-sm font-semibold mb-2">Địa chỉ Email</label>
      <input type="email" id="email" name="email" required [(ngModel)]="userData.email"
        class="w-full px-4 py-2 border rounded-lg focus:ring-blue-500 focus:border-blue-500"
        placeholder="email@example.com" />
    </div>
    <div>
      <label for="password" class="block text-gray-700 text-sm font-semibold mb-2">Mật khẩu</label>
      <input type="password" id="password" name="password" required [(ngModel)]="userData.password"
        class="w-full px-4 py-2 border rounded-lg focus:ring-blue-500 focus:border-blue-500" placeholder="********" />
    </div>
    <div>
      <label for="confirmPassword" class="block text-gray-700 text-sm font-semibold mb-2">Xác nhận mật khẩu</label>
      <input type="password" id="confirmPassword" name="confirmPassword" required [(ngModel)]="userData.confirmPassword"
        class="w-full px-4 py-2 border rounded-lg focus:ring-blue-500 focus:border-blue-500" placeholder="********" />
    </div>
    <!-- Hiển thị thông báo lỗi hoặc thành công -->
      <div *ngIf="errorMessage" class="mt-4 p-3 text-sm text-red-700 bg-red-100 rounded-md">
        {{ errorMessage }}
      </div>
      <div *ngIf="successMessage" class="mt-4 p-3 text-sm text-green-700 bg-green-100 rounded-md">
        {{ successMessage }}
      </div>
    <button type="submit" [disabled]="!registerForm.form.valid"
      class="w-full bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 font-semibold">
      Đăng ký
    </button>
  </form>

  <div class="mt-6 text-center text-gray-600">
    <p>
      Đã có tài khoản?
      <a routerLink="/login" class="text-blue-600 hover:underline font-semibold">Đăng nhập</a>
    </p>
  </div>
</div>
