<div class="container mx-auto max-w-3xl">
  <h2 class="text-3xl font-semibold text-gray-800 mb-6">Hồ sơ của bạn</h2>
  <div *ngIf="isLoading" class="text-center p-10">
    <div class="card">
      <div class="card__skeleton card__title bg-gray-300 animate-pulse"></div>
      <div class="card__skeleton card__description bg-gray-300 animate-pulse"></div>
    </div>
  </div>

  <div *ngIf="!isLoading">
    <div *ngIf="currentUser" class="bg-white p-6 rounded-lg shadow-sm mb-6">
      <h2 class="text-xl font-semibold text-gray-700 mb-4">
        Thông tin cá nhân
      </h2>
      <div class="flex items-center mb-6">
        <div class="w-24 h-24 rounded-full overflow-hidden bg-gray-200 flex items-center justify-center mr-6">
          <img id="profileImage" alt="Ảnh đại diện" class="w-full h-full object-cover" />
        </div>
      </div>
      <div *ngFor="let user of users" class="mb-4">
        <label for="fullName" class="block text-gray-700 text-sm font-semibold mb-2">Họ và tên</label>
        <p *ngIf="!isEditing" class="w-full px-4 py-2 border rounded-lg text-gray-700">
          {{ user.full_name }}
        </p>
        <input *ngIf="isEditing" type="text" [(ngModel)]="currentUser.full_name"
          class="w-full px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500" />
      </div>

      <div *ngFor="let user of users" class="mb-4">
        <label for="email" class="block text-gray-700 text-sm font-semibold mb-2">Địa chỉ Email</label>
        <p id="email" class="w-full px-4 py-2 border rounded-lg text-gray-700 bg-gray-50">
          {{ user.email }}
        </p>
        <p class="text-xs text-gray-500 mt-1">Email không thể thay đổi</p>
      </div>

      <div *ngFor="let user of users" class="mb-4">
        <label for="phone" class="block text-gray-700 text-sm font-semibold mb-2">Số điện thoại</label>
        <p *ngIf="!isEditing" id="fullName" class="w-full px-4 py-2 border rounded-lg text-gray-700">
          {{ user.phone_number }}
        </p>
        <input *ngIf="isEditing" type="text" id="fullName" [(ngModel)]="currentUser.phone_number"
          class="w-full px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500" />
      </div>

      <div *ngFor="let user of users" class="mb-6">
        <label for="address" class="block text-gray-700 text-sm font-semibold mb-2">Địa chỉ</label>
        <p *ngIf="!isEditing" class="w-full px-4 py-2 border rounded-lg text-gray-700 bg-gray-50">
          {{ user.address }}
        </p>
        <input *ngIf="isEditing" type="text" id="address" [(ngModel)]="currentUser.address"
          class="w-full px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500" />
      </div>
      <div>
        <button (click)="toggleForm()"
          [ngClass]="isEditing ? 'bg-green-600 hover:bg-green-700' : 'bg-blue-600 hover:bg-blue-700'"
          class="px-6 py-2 text-white rounded-lg shadow-md transition-colors duration-200">
          {{ isEditing ? 'Lưu thay đổi' : 'Cập nhật thông tin' }}
        </button>
        <button *ngIf="isEditing" (click)="closeForm()"
          class="ml-4 px-6 py-2 bg-gray-300 text-gray-700 rounded-lg shadow-md hover:bg-gray-400 transition-colors duration-200">
          Hủy
        </button>
      </div>
    </div>

    <div class="bg-white p-6 rounded-lg shadow-sm mb-6">
      <div>
        <h2 class="text-xl font-semibold text-gray-700 mb-4">
          Đổi mật khẩu
        </h2>
        <div class="mb-2" *ngIf="isEditingPassword">
          <label for="currentPassword" class="block text-gray-700 text-sm font-semibold mb-2">Mật khẩu hiện tại</label>
          <input type="password" id="currentPassword" [(ngModel)]="passwordData.currentPassword"
            class="w-full px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500" />
        </div>
        <div class="mb-2" *ngIf="isEditingPassword">
          <label for="newPassword" class="block text-gray-700 text-sm font-semibold mb-2">Mật khẩu mới</label>
          <input type="password" id="newPassword" [(ngModel)]="passwordData.newPassword"
            class="w-full px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500" />
        </div>
        <div class="mb-2" *ngIf="isEditingPassword">
          <label for="confirmPassword" class="block text-gray-700 text-sm font-semibold mb-2">Xác nhận mật khẩu mới</label>
          <input type="password" id="confirmPassword" [(ngModel)]="passwordData.confirmPassword"
            class="w-full px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500" />
      </div>

      <button (click)="toggleChangePasswordForm()"
        [ngClass]="isEditingPassword ? 'bg-green-600 hover:bg-green-700' : 'bg-blue-600 hover:bg-blue-700'"
        class="px-6 py-2 text-white rounded-lg shadow-md transition-colors duration-200">
        {{ isEditingPassword ? 'Lưu' : 'Đổi mật khẩu' }}
      </button>
      <button *ngIf="isEditingPassword" (click)="closeForm()"
        class="ml-4 px-6 py-2 bg-gray-300 text-gray-700 rounded-lg shadow-md hover:bg-gray-400 transition-colors duration-200">
        Hủy
      </button>
    </div>

    <div class="bg-white p-6 rounded-lg shadow-sm">
      <h2 class="text-xl font-semibold text-gray-700 mb-4">
        Cài đặt thông báo
      </h2>

      <div class="flex items-center justify-between mb-4">
        <span class="text-gray-700">Nhận thông báo qua Email</span>
        <label class="toggle-switch">
          <input type="checkbox" id="pushNotificationsToggle" disabled />
          <span class="slider"></span>
        </label>
      </div>

      <div class="flex items-center justify-between mb-4">
        <span class="text-gray-700">Nhận thông báo đẩy</span>
        <label class="toggle-switch">
          <input type="checkbox" id="pushNotificationsToggle" disabled />
          <span class="slider"></span>
        </label>
      </div>

      <p class="text-sm text-gray-500 mt-4">
        Bạn có thể điều chỉnh cài đặt này bất cứ lúc nào.
      </p>
    </div>
  </div>
</div>
