<div *ngIf="show" class="fixed inset-0 bg-gray-600 bg-opacity-50 flex items-center justify-center z-50">
  <div
    class="bg-white rounded-lg shadow-xl p-6 w-full max-w-md mx-auto relative transform transition-all sm:my-8 sm:align-middle sm:max-w-lg">
    <div class="flex justify-between items-center pb-4 border-b border-gray-200">
      <h3 class="text-xl font-semibold text-gray-800">{{ modalTitle }}</h3>
      <button (click)="closeModal()" class="text-gray-400 hover:text-gray-600 focus:outline-none">
        <i class="fas fa-times text-2xl"></i>
      </button>
    </div>

    <form (ngSubmit)="saveTask()" #taskForm="ngForm" class="mt-6 space-y-4">
      <div>
        <label for="taskName" class="block text-sm font-medium text-gray-700">Tiêu đề công việc<span
            class="text-red-500">*</span></label>
        <input type="text" id="taskName" name="name" [(ngModel)]="taskData.name" required
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
      </div>

      <div>
        <label for="taskDescription" class="block text-sm font-medium text-gray-700">Mô tả</label>
        <textarea id="taskDescription" name="description" [(ngModel)]="taskData.description" rows="3"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"></textarea>
      </div>
      <div>
        <label for="taskCategory" class="block text-sm font-medium text-gray-700">Phân loại</label>
        <input id="taskCategory" name="cate" [(ngModel)]="taskData.cate" required
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
      </div>
      <div>
        <label for="taskProject" class="block text-sm font-medium text-gray-700">Dự án</label>
        <select id="taskProject" name="project_id" [(ngModel)]="taskData.project_id" required
          class="mt-1 block w-full pl-3 pr-10 py-2 text-base border border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md">
          <option value="" disabled>Chọn dự án</option>
          <option *ngFor="let project of projectList" [value]="project.id">{{ project.name }}</option>
        </select>
      </div>

      <div>
        <label for="taskAssignees" class="block text-sm font-medium text-gray-700">Người thực hiện</label>
        <select id="taskAssignees" name="assignee_id" required [(ngModel)]="taskData.assignee_id"
          class="mt-1 block w-full pl-3 pr-10 py-2 text-base border border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md">
          <option [ngValue]="null" disabled>Chọn người thực hiện</option>
          <option *ngFor="let user of userList" [value]="user.user_id">
            {{ user.full_name }}
          </option>
        </select>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <label for="taskDueDate" class="block text-sm font-medium text-gray-700">Ngày hết hạn<span
              class="text-red-500">*</span></label>
          <input type="date" id="taskDueDate" name="due_date" [(ngModel)]="taskData.due_date" required
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
        </div>
        <div>
          <label for="taskPriority" class="block text-sm font-medium text-gray-700">Mức độ ưu tiên</label>
          <select id="taskPriority" name="priority" [(ngModel)]="taskData.priority"
            class="mt-1 block w-full pl-3 pr-10 py-2 text-base border border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md">
            <option value="low">Thấp</option>
            <option value="medium">Trung bình</option>
            <option value="high">Cao</option>
          </select>
        </div>
      </div>

      <div>
        <label for="taskStatus" class="block text-sm font-medium text-gray-700">Trạng thái</label>
        <select id="taskStatus" name="status" [(ngModel)]="taskData.status"
          class="mt-1 block w-full pl-3 pr-10 py-2 text-base border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md">
          <option value="inreview">Chờ duyệt</option>
          <option value="todo">Cần làm</option>
          <option value="in_progress">Đang tiến hành</option>
          <option value="completed">Hoàn thành</option>
        </select>
      </div>

      <div class="pt-4 flex justify-end space-x-3">
        <button type="button" (click)="closeModal()"
          class="px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
          Hủy
        </button>
        <button type="submit" [disabled]="!taskForm.form.valid"
          class="px-4 py-2 bg-blue-600 border border-transparent rounded-md shadow-sm text-sm font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 disabled:bg-gray-400">
          Lưu Công việc
        </button>
      </div>
    </form>
  </div>
</div>
