<div class="container mx-auto">
  <!-- loading -->
  <div *ngIf="isLoading" class="text-center p-10">
    <!-- From Uiverse.io by vk-uiux -->
    <div class="card">
      <div class="card__skeleton card__title"></div>
      <div class="card__skeleton card__description"> </div>
    </div>
  </div>
  <!-- Hiển thị chi tiết dự án -->
  <div *ngIf="!isLoading && project" class="bg-white p-6 rounded-lg shadow-sm mb-6">
    <div class="flex flex-col md:flex-row md:items-center justify-between mb-8">
      <div class="w-1/2 :w-auto md:max-w-[70%] flex-shrink min-w-0">
        <h2 class="text-3xl text-gray-800 truncate" id="detailProjectName">
          {{project.name}}
        </h2>
        <p class="text-gray-600 text-base" id="detailProjectDescription">
          <span id="shortDescription">{{project.description}}</span>
          <span id="fullDescription" class="md:max-w-[80%]"></span>
          <a href="#" id="toggleDescription" class="text-blue-500 hover:underline hidden">...Xem thêm</a>
        </p>
      </div>
      <div class="mt-4 md:mt-0 flex flex-col md:flex-row md:space-x-4 space-y-3 md:space-y-0">
        <a (click)="goBack()" id="backToProjectsList"
          class="px-4 py-2 md:px-6 md:py-2 bg-gray-200 text-gray-700 rounded-lg shadow-md hover:bg-gray-300 transition-colors duration-200 flex items-center justify-center">
          <i class="fas fa-arrow-left mr-2"></i>
          <span>Quay lại danh sách</span>
        </a>
        <button (click)="openEditModal()" id="editProjectDetailBtn"
          class="px-4 py-2 md:px-6 md:py-2 bg-blue-600 text-white rounded-lg shadow-md hover:bg-blue-700 transition-colors duration-200 flex items-center justify-center">
          <i class="fas fa-edit mr-2"></i>
          <span>Sửa</span>
        </button>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <div class="flex flex-col items-start">
        <p class="text-black text-lg font-semibold">Người quản lý:</p>
        <p class="text-base text-gray-600" id="detailProjectManager">
          {{ project.manager.full_name}}
        </p>
      </div>
      <div class="flex flex-col items-start">
        <p class="text-black text-lg font-semibold">
          Thành viên (<span id="detailMemberCount">{{members.length}}</span>):
        </p>
        <p class="text-base text-gray-800" id="detailProjectMembers">
          <span *ngFor="let member of members; let isLast = last" class="text-gray-600">
            {{ member?.full_name }} {{ !isLast ? ', ' : '' }}
          </span>
        </p>
      </div>
      <div class="flex flex-col items-start">
        <p class="text-black text-lg font-semibold">Thời gian:</p>
        <p class="text-base text-gray-800" id="detailProjectTime">
          <span id="detailProjectStartDate">
            {{ project.start_date | date: "dd/MM/yyyy"}}
          </span>
          -
          <span id="detailProjectEndDate">
            {{ project.end_date | date: "dd/MM/yyyy"}}
          </span>
        </p>
      </div>
    </div>
  </div>

  <div class="bg-white p-6 rounded-lg shadow-sm mb-6">
    <h3 class="text-xl text-gray-800 mb-4">Tiến độ dự án</h3>
    <div class="w-full bg-gray-200 rounded-full h-4 mb-2">
      <div class="h-4 rounded-full transition-all duration-500" [style.width]="(project?.progress || 0) + '%'"
        [ngClass]="{
            'bg-green-500': project?.progress === 100,
            'bg-blue-500':  project && project.progress < 100
          }"></div>
    </div>
    <p class="text-black text-base">
      {{ project?.progress || 0 }}% hoàn thành ({{ project?.completedTasksCount || 0 }}/{{ project?.totalTasksCount || 0
      }} công việc)
    </p>
  </div>

  <div class="bg-white p-6 rounded-lg shadow-sm">
    <div class="flex justify-between items-center mb-4">
      <h3 class="text-xl text-gray-800">
        Công việc của dự án (<span id="detailTaskCount">{{tasks.length}}</span>)
      </h3>
      <button id="openTaskModal" routerLink="/app/tasks"
        class="px-4 py-2 bg-blue-600 text-white rounded-lg shadow-md hover:bg-blue-700 transition-colors duration-200 flex items-center">
        <i class="fas fa-plus md:mr-2"></i>
        <span class="hidden md:inline">Thêm công việc</span>
      </button>
    </div>

    <div *ngIf="tasks.length > 0 " class="space-y-4">
      <!-- Lặp qua mỗi công việc -->
      <div *ngFor="let task of tasks"
        class="bg-gray-50 p-4 rounded-lg border border-gray-200 flex items-center justify-between">
        <!-- Phần thông tin công việc (bên trái) -->
        <div>
          <p class="font-semibold text-gray-800 hidden md:inline">{{ task.name }}</p>
          <p class="text-base text-gray-900">
            Người thực hiện: <span>{{ task.assignees[0].full_name || 'Chưa gán' }}</span><span class="hidden md:inline">
              - Hạn chót: {{ formatDate(task.due_date) }}</span>
          </p>
        </div>
        <div class="flex items-center justify-center align-items-center gap-x-4">
          <div class="flex items-center text-base font-semibold ps-4"
            [ngClass]="getPriorityInfo(task.priority).colorClass">
            <span>{{ getPriorityInfo(task.priority).text }}</span>
          </div>

          <div class="flex items-center gap-x-6"></div>
          <span class="px-3 py-1 text-xs font-semibold rounded-full w-28 text-center"
            [ngClass]="getStatusClass(task.status)">
            {{ translateStatus(task.status) }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<app-create-project *ngIf="showEditModal" [show]="showEditModal" [isEditMode]="true" [projectToEdit]="project"
  (save)="handleUpdateProject($event)" (close)="closeEditModal()">
</app-create-project>
